{% extends 'base.html' %}

{% block title %} BlogHome {% endblock title %}

      
{% block blogactive %} active {% endblock blogactive %} 


{% block body %}
<style>
  #primary{
    color: #007bff;
    border-color: #007bff;
  }
  #primary:hover{
    background-color:#007bff ;
    color: white;
  }
</style>
<div class="container my-3">
    <h2>Coding Articles by CodeWithShreyansh</h2>
    {% for post in allPosts  %}
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Article  by {{post.author}} ({{post.views}} views)</strong>
            <h3>{{post.title}}</h3>
            <h3 class="mb-0"><a class="text-dark" href="/blog/{{post.slug}}"{{post.title}}> </a> </h3>
            <div class="mb-1 text-muted">{{post.datetime}}</div>
            <p class="card-text mb-auto">{{post.content|safe| truncatechars:500}}</p>
            <div class="my-2"><br>
            	<a href="/blog/{{post.slug}}" id="primary" role="button" class="btn btn-outline-primary">Continue reading</a>
            </div>
            
        </div>
        <div class="col-auto d-none d-lg-block">
         
        </div>
        </div>

        {% endfor %}
           <!-- ======= Footer ======= -->
           <footer class="page-footer font-small blue bg-light ">

            <!-- Copyright -->
            <div id="my-footer" class="footer-copyright text-center py-3">© 2021 Copyright:
              <a href="/">CodeWithShreyansh</a>
            </div>
            <!-- Copyright -->
          
          </footer>
   {% block js %}
      <script>
      let previews=document.getElementsByClassName('preview');
      Array.from(previews).forEach((element))=>{
          element.innerHTML=element.innerText;
      })
    </script>
      {% endblock js %}
 {% endblock %}